<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/home">Home</a></li>
		        	<li><a href="https://indiana.academia.edu/SassanZandMoqaddam>About</a></li>
				<li><a href="/homework">Homework</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sazand@iu.edu">email</a></li>
	        		<li><a href="https://github.com/sazand">github.com/sazand</a></li>
				</ul>
			</footer>
		</body>
	</html>
